<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="logo">
      <img src="assets/img/logo.png">
    </div>
    <br>
    <div class="row">
      <h1>WEREWOLVES AND WANDERER </h1>
      <br>
      <input type="text" class="form-control input-lg" id="nameField" name="name" placeholder="What is your name hero?" />
      <br>
      <br>
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#instructionsModal" > Ready! </button>
      <a href="#about" class="smoothScroll btn btn-info btn-lg">Instructions</a>

      <br>

    </div>
  </div><!-- /container -->
</div><!-- /headerwrap -->



<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>INSTRUCTIONS</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <!-- INTRO INFORMATIO-->
      <div class="col-lg-6 col-lg-offset-3">
        <p>
          Print game instructions here
        </p>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /f -->


<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>Author</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p>Rodolfo Andrés Ramírez Valenzuela </p>
        <p>rodolfo@ramirezvalenzuela.com</p>
      </div>
    </div>
  </div>
</div>
