<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="logo">
      <img src="assets/img/logo.png">
    </div>
    <br>
    <div class="row">
      <h1>WEREWOLVES AND WANDERER </h1>
      <br>
      <form id="form_player_name" method="POST">

      <input type="text" class="form-control input-lg" id="tf_name" name="name" placeholder="What is your name hero?" />
      <br>
      <br>
      <button id="btn_create_game" type="submit" class="btn btn-success btn-lg"> Ready! </button>
      <a href="#about" class="smoothScroll btn btn-info btn-lg">Instructions</a>
    </form>


      <br>

    </div>
  </div><!-- /container -->
</div><!-- /headerwrap -->



<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>INSTRUCTIONS</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <!-- INTRO INFORMATIO-->
      <div class="col-lg-6 col-lg-offset-3">
        <p>
          You are an adventurer that is wandering through a castle. Throughout your adventure you must
          move around the castle by using the commands.
            <p><em>
              north
              south
              east
              west
              up
              down
              </em>
            </p>
            Remember, to move diminishes your strength, so do not go from one room to another without thinking!!
          <p>
            While you are exploring you might find useful buying items from the shop by typing <em>"inventory"</em>
          </p>

          <p>
            In case you find a monster ready up your weapons and type <em>"fight"</em>
            But if you are afraid of fighting it, consider your odds by typing <em>"run"</em>
          </p>

          <p>
            If you are lucky enough you might find treasures on the room remember to <em>pick_up</em> those
           </p>

          <p>
            And if you are that rich, then purchase an amulet and see what happens with its <em>magic</em>
          </p>
        </p>

          <h3>Let the adventure begin!</h3>
      </div>
    </div>
  </div><!-- /container -->
</div><!-- /f -->


<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>Author</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p>Rodolfo Andrés Ramírez Valenzuela </p>
        <p>rodolfo@ramirezvalenzuela.com</p>
      </div>
    </div>
  </div>
</div>
